.connectwallet {
  text-align: center;
}

.newdrops {
  text-align: center;
  margin: 4rem;
}

div {
  padding: 1rem;
}

.drop-card {
   width: 250px;
   margin-right: 10px;
   margin-bottom: 4rem;
}

a {
  text-decoration: none;
}

img {
  overflow: hidden;
  height: 250px !important;
}
