
div {
  max-width: 500px;
  margin: 2rem auto;
}

mat-form-field {
  width: 500px;
  margin-top: 1rem;
}

@media screen and (max-width: 400px) {

  div {
    width: 300px;
  }

  mat-form-field {
    width: 300px;
  }
}
